.head-title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-left: 16px;
  position: relative;
  font-weight: bold;
  white-space: nowrap;

  @media (min-width: $screen-md) {
    padding-left: 24px;
  }

  @media (min-width: $screen-lg) {
    padding-left: 34px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 4px;
    height: 40px;
    top: 0px;
    background: #41F6D7;
    border-right: 2px solid #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}


// ВЫНЕСТИ ЦВЕТ