.header {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: $color-white;
  border-bottom: 1px solid $line-color;
  padding: 18px 16px;

  @media (min-width: $screen-lg) {
    display: none;
  }

  &__btn {
    &.btn-icon--call,
    &.btn-icon--chat,
    &.btn-icon--profile {
      display: none;

      @media (min-width: $screen-md) {
        display: block;
      }
    }
  }

  &__logo {
    height: 51px;
    flex-shrink: 0;
    flex-grow: 1;
  }
  &__divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: $divider-color;
    flex-shrink: 0;

    &:first-of-type {
      display: none;

      @media (min-width: $screen-md) {
        display: block;
      }
    }  
  }
}
