$color-white: #FFFFFF;
$text-color: #1B1C21;
$text-color--light: #7E7E82;
$btn-color--rose: #FF3E79;
$btn-color--mentol: #B8FFEC;
$bg-color: #F8F8F8;
$divider-color: #EAEAEA;
$line-color: #D9FFF5;
$placeholder-color: #B5B6BC;
$swiper-bullet-color: #B5B6BC;
$swiper-bullet-color--active: #979797;

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1440px;
